.list__user-content{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .child{
        color: rgb(143, 129, 65);
        height: 150px;
        width: 900px;
        padding-left: 80px;
        border: 1px solid gray;
        margin-bottom: 15px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            margin-right: 20px;
            height: 140px;
            width: 140px;
        }
    }
}

.child{
    color: rgb(143, 129, 65);
    height: 150px;
    width: 900px;
    padding-left: 80px;
    border: 1px solid gray;
    margin-bottom: 15px;
    margin-left: 480px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        margin-right: 20px;
        height: 140px;
        width: 140px;
    }
}